[Unit]
Description=Docker Container
Requires=docker.socket
After=docker.service network-online.target containerd.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a {{ container_name }}
ExecStop=/usr/bin/docker stop -t 5 {{ container_name }}

[Install]
WantedBy=multi-user.target
